@import "../variable.scss";

.custom-input {

  label {
    color: $primary-grey;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 10px;
    text-transform: capitalize;
  }
}

.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .btn {
    color: #fff;
    background: $primary-grey;
    padding: 15px 50px;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  .custom-input {

    label {
      color: $primary-grey;
      font-weight: 600;
      letter-spacing: 0.5px;
      font-size: 8px;
      text-transform: capitalize;
    }

  }

  .custom-button {
    margin-top: 10px;

    .btn {
      color: #fff;
      background: $primary-grey;
      font-size: 8px;
      padding: 5px 20px;
      text-transform: uppercase;
      border-radius: 5px;
      font-weight: 600;
    }
  }
}